body{
    margin: 0px;
    background: linear-gradient(to left, #140e07, #033a3c);

}

h3{
    font-size: 30px;
    color: rgb(255, 0, 217);
    text-align: left;
    margin-top:90px ;
    margin-left: 290px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow:5px 5px 3px #d5ecec;
}


h2{
    font-size: 40px;
    color: rgb(255, 166, 0);
    text-align: left;
    margin-top:90px ;
    margin-left: 650px;
    font-family:cursive;
    text-shadow:5px 5px 3px #d5ecec;
}



h1{
    font-size: 50px;
    color: rgb(255, 0, 217);
    text-align: left;
    margin-top:90px ;
    margin-left: 950px;
    font-family: monospace;
    text-shadow:5px 5px 3px #d5ecec;
}



#loading-bar-container {
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.progress{
    display: flex;
    align-items: center;
    justify-content: center;
}