body {
    background-color: #f5efef;
    margin: 0px;
    color: rgb(0, 0, 0);
}


.heading{
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    color: #fbeeee;
    font-size: 40px;
}

.heading h1{
    color: #ffffff;
    text-shadow: #db5151 1px 15px 5px;
    box-shadow: #3e99f5 0px 1px 5px;
}
.snowflake {
    position: fixed;
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    opacity: 0.4;
    animation: fall 200s linear infinite; /* Increase duration for slower snowfall */
}
