body {
    background-color: #000;
    margin: 0px;
    color: aliceblue;
}


.heading{
    height: 50px;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    color: #000;
    

}
